---
layout: default
---

{% include content/manifesto.html %}
{% include content/facets-example.html %}

<div class="module__normal">
  <div class="content">
    <h2 class="module-title">.module__normal</h2>
    <section class="panel">
      <p>Panel</p>
    </section>
  </div>
</div>

<div class="module__primary-secondary">
  <div class="content">
    <h2 class="module-title">.module__primary-secondary</h2>
    <section class="panel primary">
      <p>Panel</p>
    </section>
    <section class="panel secondary">
      <p>Panel</p>
    </section>
  </div>
</div>

<div class="module__half-half">
  <div class="content">
    <h2 class="module-title">.module__half-half</h2>
    <section class="panel">
      <p>Panel</p>
    </section>
    <section class="panel">
      <p>Panel</p>
    </section>
  </div>
</div>

<div class="module__thirds">
  <div class="content">
    <section class="panel">
      <p>Panel</p>
    </section>
    <section class="panel">
      <p>Panel</p>
    </section>
    <section class="panel">
      <p>Panel</p>
    </section>
  </div>
</div>

<div class="module__fourths">
  <div class="content">
    <section class="panel">
      <p>Panel</p>
    </section>
    <section class="panel">
      <p>Panel</p>
    </section>
    <section class="panel">
      <p>Panel</p>
    </section>
    <section class="panel">
      <p>Panel</p>
    </section>
  </div>
</div>
