* {
  box-sizing: border-box;
}


body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: 0;
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
}

a {
  color: $brand-color;
  text-decoration: none;
  transition: all 0.15s ease-in;
  &:visited {
    color: darken($brand-color, 15%);
  }
  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

img {
  display: block;
  max-width: 100%;
}
