// BASE MODULE STYLING
// This applies to all Modules, which will ensure proper vertical rhythm and breakpoints throught the entire site. All layout modules should be named module__
// Modules SHOULD NOT contain columns, or naming conventions that are specific to one particular screensize

[class*="module__"] {
  border-bottom: 1px solid $hairline;
  padding: 10px;
  transition: padding 0.15s ease-in;
  .content {
    @include outer-container($site-width);
  }
  .panel {
    border: 1px dashed $blue;
  }
  @include media($mq-small) {
    padding: 3em 20px;
  }
  @include media($mq-large) {
  }
}


.module__half-half .panel {
  @include media($mq-small) {
    @include span-columns(6);
  }
}

.module__primary-secondary {
  @include media($mq-small) {
    .panel.primary {
      @include span-columns(8);
    }
    .panel.secondary {
      @include span-columns(4);
    }
  }
}

.module__thirds .panel {
  @include media($mq-small) {
    @include span-columns(4);
  }
}

.module__fourths .panel {
  @include media($mq-small) {
    @include span-columns(3);
  }
}


@mixin facets($foo, $bar) {
  @include outer-container;
  .facet {
    @include span-columns($foo);
    @include omega($bar);
    border: 1px solid red;
    margin-bottom: 1em;
    text-align: center;
    padding: 2em 0;
  }
}

.facets__large {
  @include facets(4, 3n);
}

.facets__medium {
  @include facets(3, 4n);
}

.facets__small {
  @include facets(2, 6n);
}
