$site-width: 1000px;


$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;


$blue:        #497BAD;
$charcoal:    #3b3b3b;
$hairline:    #dddddd;
$off-white:   #F0F3F6;



$text-color:      #111;
$brand-color:     #3366cc;

$mq-small:  600px;
$mq-large:  1200px;

// Use media queries like this:
// @include media-query($mq-small) {
//  .wrapper {
//    declarations;
//  }
// }

@mixin media($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

